# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
.cursorignore
.cursorindexingignore

# Root-level env
.env
.env.local
.env.*
!.env.example
!.env.test

# context doc for AI
wbc_master_reference.md
MLB-STATSAPI-ENDPOINTS.md
boxscores_schema_table.md
players_schema_table.md
schedule_schema_table.md