# Python
__pycache__/
*.py[codz]
*$py.class
*.so
*.egg-info/
*.egg
.eggs/
dist/
build/
.Python

# Virtual environments
venv/
.venv
env/
ENV/

# dbt
target/
dbt_packages/
logs/
profiles.yml
.user.yml

# Dagster
.dagster/

# Docker
*.env

# Env
.env
.env.*
!.env.example
!.env.test

# OS
.DS_Store
Thumbs.db

# Misc Python tools
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
.hypothesis/